body{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   background-color: rgb(161, 159, 173);
}

h1 {
    color: #42c49d;
    padding:15px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.5px;
  }

p{
    text-align: center;
    color: #d3c6c6;
    font-size: 16px;
}
  .container {
    background-color: #6d6eb3;
    width: 100vh;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    
  }

img{
    width: 300px;
    height: auto;
    padding-left: 40px;
    justify-content:space-between;
    align-items: center;
}

ul{
 margin: 40px;
}

table{
    padding: 20px;
    margin-top: 30px;
    width: 100%;
}

  
ul li:first-child {
    font-weight: bold;
}

td {
    border: 2px solid #fff;
    text-align: center;
  }
  
th{
    border: 2px solid #fff;
}


/*  */

td:first-child {
    background-color: #DDDDDD;
  }

  tr:last-child td {
    background-color: #DDDDDD;
  }


  td::before {
    font-weight: bold;
  }